
name: Cypress Tests

on:

 push:

   branches:

     - testes

jobs:

 cypress-run:

   runs-on: ubuntu-latest

   strategy:

     fail-fast: false

   steps:

     - name: Checkout

       uses: actions/checkout@v4

     - name: Setup Node.js

       uses: actions/setup-node@v4

       with:

         node-version: '18'

     - name: Start Server BackEnd

       run: |

         npm install

         npm start &

         sleep 5

         until [ "$(curl -s -o /dev/null -w "%{http_code}" http://localhost:8080)" == "200" ]; do

           echo "Waiting for server to start..."

           sleep 2

         done

         echo "Server is running successfully."

       working-directory: server

     - name: Start Web App FrontEnd

       run: |

         npm install

         npm start > /tmp/web.log 2>&1 &

         sleep 10

         until [ "$(curl -s -o /dev/null -w "%{http_code}" http://localhost:3000)" == "200" ]; do

           echo "Waiting for web app to start..."

           sleep 2

         done

         echo "Web app is running successfully."

       working-directory: web

     - name: Run Cypress Tests

       uses: cypress-io/github-action@v6

       with:

         spec: |

           cypress/e2e/cadastro-sucesso.cy.js

           cypress/e2e/login-clinica.cy.js

           cypress/e2e/dashboard.cy.js

         wait-on: 'http://localhost:3000,http://localhost:8080'

         wait-on-timeout: 120

         record: false

       env:

         CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}

         GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
