name: Cypress Tests

on:
  push:
    branches:
      - testes

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Debug spec content
        run: |
          git rev-parse HEAD
          grep -R "@especialistas" -n cypress/e2e || true
          sed -n '1,160p' cypress/e2e/dashboard.cy.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "16"
      - name: Start Server BackEnd
        run: |
          npm install
          npm start &
          until [ "$(curl -s -o /dev/null -w "%{http_code}" http://localhost:8080)" == "200" ]; do
            echo "Waiting for server to start..."
            sleep 1
          done
          echo "Server is running successfully."
        working-directory: server
      - name: Start Web App FrontEnd
        run: |
          npm install
          npm start &
        working-directory: web
      - name: Run Cypress Tests
        uses: cypress-io/github-action@v6
        with:
          spec: |
            cypress/e2e/cadastro-sucesso.cy.js
            cypress/e2e/login-clinica.cy.js
            cypress/e2e/dashboard.cy.js
          wait-on: 'http://localhost:3000,http://localhost:8080'
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY_2 }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
